@import 'variables';
@import 'mixins';

footer {
    background-color: map-get( $paleta , "negro" );
    color: map-get( $paleta , "blanco" );
    font-size: 1.125rem;
    margin-bottom: 0;
    width: 100%;
    img {
        width: 1.875rem;
        margin-inline: .625rem;
        display: block;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        border-radius: .1875rem;
    }
    h4 {
        border-width: 6.25rem;
        border: .0625rem solid rgba(0, 0, 0, 0.644);
        padding-left: .625rem;
        padding-right: .625rem;
        padding-top: 0;
        padding-bottom: 0;
        background-color: map-get( $paleta , "blanco" );
        color: map-get( $paleta , "negro" );
        text-shadow: 1px 1px 2px $gris;
        box-shadow: 0rem 0rem .25rem $blanco;
    }
}

footer div a img:hover {
    box-shadow: .0625rem .0625rem .25rem $blanco;
}

.divfooter {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: .625rem;
    margin: 0;
    padding: .3125rem;
    .columnasfooter {
        border: .0625rem solid $blanco;
        text-align: center;
        margin: .0625rem;
    }
    .columnasfooter2 {
        font-size: small;
        border: .0625rem solid $blanco;
        text-align: center;
        padding: .3125rem;
        grid-column: 1 / 5;
    }
    .iconos-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @include celu {
        display: flex;
        flex-direction: column;
    }
}